<%- include("partials/header") %> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <label class = "form-label">   <strong>Title</strong>  </label> <br>
    <input  class = "form-control" type="text" name="postTitle" placeholder="Title" required autocomplete="false"> <br>
    <label class = "form-label"> <strong>Post</strong> </label> <br>
    <textarea class = "form-control" name="postBody" rows="8" cols="80" placeholder="Compose your post" required autocomplete = "false"></textarea> <br>
    <button class= "btn btn-primary"type="submit">Publish</button>
</form>

<%- include("partials/footer") %>